# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:ogeday26@localhost:5432/mutlulukendeksi?schema=public"
NEXT_AUTH_URL=http://localhost:3000
NEXT_EMAIL_SERVER=
NEXT_EMAIL_FROM=
NEXT_APPLE_ID=
NEXT_APPLE_SECRET=
NEXT_FACEBOOK_ID=
NEXT_FACEBOOK_SECRET=
NEXT_GITHUB_ID=
NEXT_GITHUB_SECRET=
NEXT_GOOGLE_ID=
NEXT_GOOGLE_SECRET=
NEXT_TWITTER_ID=
NEXT_TWITTER_SECRET=
NEXT_SECRET=mutlulukendeksi
