@font-face {
  font-family: 'Chakra Petch';
  src: url('../public/fonts/ChakraPetch-Regular.woff2') format('woff2'),
    url('../public/fonts/ChakraPetch-Regular.woff') format('woff');
}

* {
  z-index: inherit;
}